/* _light.scss */

:root {
  --bg: white;
  --bg-alt: whitesmoke;
  --text: black;
  --text-alt: dimgray;
  --heading: navy;
  --accent: royalblue;
  --accent-hover: blue;
  --border: lightgray;
  --footer-border: silver;

  --code: black;
  --keyword: indigo;
  --meta: darkslateblue;
  --string: darkgreen;
  --comment: darkgray;

  --link: palevioletred;
  --link-hover: orchid;
  --overlay: white;
  --overlay-bg: rgba(255, 255, 255, 0.8);
  
  --highlight: palegoldenrod;
  --content-bg: whitesmoke;
  --content-shadow: rgba(0, 0, 0, 0.2);
  
  --user-tag: darkturquoise;
  --user-bg: whitesmoke;
  --user-border: darkturquoise;
  --gpt-tag: lime;
  --gpt-bg: whitesmoke;
  --gpt-border: lime;
}
