/* _light.scss */
body {
  background-color: #ffffff;
  color: #111111;
  font-family: 'Segoe UI', sans-serif;
}
a { color: #007acc; }
h1, h2, h3 { color: #444; }
img { max-width: 100%; height: auto; }
