/* _matrix.scss */
body {
  background-color: #0e0e0e;
  color: #b5e853;
  font-family: 'Cascadia Code', monospace;
}
a { color: #75b5aa; }
h1, h2, h3 { color: #b5e853; }
img { max-width: 100%; height: auto; }
