/* _midnight.scss */
body {
  background-color: #1a1a2e;
  color: #c0c0c0;
  font-family: 'Courier New', monospace;
}
a { color: #9a86fd; }
h1, h2, h3 { color: #fae100; }
img { max-width: 100%; height: auto; }
