/* _midnight.scss */

:root {
  --bg: black;
  --bg-alt: #1a1a1a; // or very dark gray
  --text: gainsboro;
  --text-alt: lightgray;
  --heading: brown;
  --accent: deepskyblue;
  --accent-hover: dodgerblue;
  --border: gray;
  --footer-border: dimgray;

  --code: white;
  --keyword: violet;
  --meta: plum;
  --string: lightgreen;
  --comment: lightslategray;

  --link: gold;
  --link-hover: red;
  --overlay: black;
  --overlay-bg: rgba(0, 0, 0, 0.7);
  
  --highlight: khaki;
  --content-bg: black;
  --content-shadow: rgba(0, 0, 0, 0.2);
  
  --user-tag: darkturquoise;
  --user-bg: black;
  --user-border: darkturquoise;
  --gpt-tag: chartreuse;
  --gpt-bg: black;
  --gpt-border: chartreuse;
}
