$body-font: 'Segoe UI', sans-serif;
$heading-font: 'Segoe UI', sans-serif;
$mono-font: 'Cascadia Code', monospace;
$background-color: #1e1e1e;
$text-color: #eeeeee;
$heading-color: #b5e853;
$link-color: #6a9fb5;
$border-color: #444;
$content-background: #121212;
$highlight-bg: #2c2c2c;
